<footer>
    <div class="container text-center">
        <p>&copy; 2024 MyWebsite. All rights reserved.</p>
        <p><a href="mailto:shivashanker7337@gmail.com">Contact: shivashanker7337@gmail.com</a></p>
    </div>
</footer>
