# Node.js dependencies
node_modules/

# Environment variables file
.env
# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Operating system files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# IDE/Editor specific files
.vscode/
.idea/